# Preprocessing Data for Training

## Importing Libraries

In [2]:
import json
import pandas as pd
from creds import username, password
from sqlalchemy import create_engine
import psycopg2

## Reading in Data from Database

In [3]:
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/Yelp_DB')
connection = engine.connect()

In [4]:
df_bussiness = pd.read_sql('select * from businesses limit 10', connection)
df_bussiness.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,categories
0,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.283350,4.0,86,1,"Gastropubs, Food, Beer Gardens, Restaurants, B..."
1,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,7000 NE Airport Way,Portland,OR,97218,45.588905,-122.593330,4.0,126,1,"Salad, Soup, Sandwiches, Delis, Restaurants, C..."
2,bvN78flM8NLprQ1a1y5dRg,The Reclaimory,4720 Hawthorne Ave,Portland,OR,97214,45.511906,-122.613690,4.5,13,1,"Antiques, Fashion, Used, Vintage & Consignment..."
3,oaepsyvc0J17qwi8cfrOWg,Great Clips,2566 Enterprise Rd,Orange City,FL,32763,28.914482,-81.295980,3.0,8,1,"Beauty & Spas, Hair Salons"
4,PE9uqAjdw0E4-8mjGl3wVA,Crossfit Terminus,1046 Memorial Dr SE,Atlanta,GA,30316,33.747030,-84.353424,4.0,14,1,"Gyms, Active Life, Interval Training Gyms, Fit..."

In [5]:
df_buss_attri = pd.read_sql('select * from business_attributes limit 10', connection)
df_buss_attri.head()

,business_id,restaurants_table_service,wifi,bike_parking,business_parking,business_accepts_credit_cards,restaurants_reservations,wheelchair_accessible,caters,outdoor_seating,...,byob,coat_check,smoking,drive_thru,byob_corkage,corkage,restaurants_counter_service,ages_allowed,dietary_restrictions,open_24_hours
0,6iYb2HFDywm3zjuRg0shjw,True,u'free',True,"{'garage': False, 'street': True, 'validated':...",True,False,True,True,True,...,None,None,None,None,None,None,None,None,None,None
1,tCbdrRPZA0oiIYSmHG3J0w,None,u'free',False,"{'garage': True, 'street': False, 'validated':...",True,False,None,True,False,...,None,None,None,None,None,None,None,None,None,None
2,bvN78flM8NLprQ1a1y5dRg,None,None,False,"{'garage': False, 'street': True, 'validated':...",True,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,oaepsyvc0J17qwi8cfrOWg,None,None,None,None,True,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,PE9uqAjdw0E4-8mjGl3wVA,None,None,None,"{'garage': False, 'street': False, 'validated'...",True,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [6]:
df_users = pd.read_sql('select * from users limit 10', connection)
df_users.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,q_QQ5kBBwlCcbL1s4NVK3g,Jane,1220,2005-03-14 20:26:35,15038,10030,11291,"2006,2007,2008,2009,2010,2011,2012,2013,2014","xBDpTUbai0DXrvxCe3X16Q, 7GPNBO496aecrjJfW6UWtg...",1357,...,163,190,361,147,1212,5691,2541,2541,815,323
1,dIIKEfOgo0KqUfGQvGikPg,Gabi,2136,2007-08-10 19:01:51,21272,10289,18046,"2007,2008,2009,2010,2011,2012,2013,2014,2015,2...","XPzYf9_mwG2eXYP2BAGSTA, 2LooM5dcIk2o01nftYdPIg...",1025,...,87,94,232,96,1187,3293,2205,2205,472,294
2,D6ErcUnFALnCQN4b1W_TlA,Jason,119,2007-02-07 15:47:53,188,128,130,"2010,2011","GfB6sC4NJQvSI2ewbQrDNA, jhZtzZNNZJOU2YSZ6jPlXQ...",16,...,1,3,0,0,5,20,31,31,3,1
3,JnPIjvC0cmooNDfsa9BmXg,Kat,987,2009-02-09 16:14:29,7234,4722,4035,"2009,2010,2011,2012,2013,2014","HQZPQhKMwRAyS6BCselVWQ, kP2U1s_sjQfHO9grxiyDTA...",420,...,129,93,219,90,1120,4510,1566,1566,391,326
4,37Hc8hr3cw0iHLoPzLK6Ow,Christine,495,2008-03-03 04:57:05,1577,727,1124,"2009,2010,2011","-Q88pZUcrfN0BLBDp-bkAQ, etPn4Pv1Gc4cRZjRgB_BOw...",47,...,19,32,16,15,77,131,310,310,98,44

In [7]:
df_reviews = pd.read_sql('select * from reviews limit 10', connection)
df_reviews.head()

Empty DataFrame
Columns: [review_id, user_id, business_id, stars, useful, funny, cool, text, date]
Index: []