# Preprocessing Data for Training

## Importing Libraries

In [1]:
import json
import pandas as pd
from creds import username, password
from sqlalchemy import create_engine
import seaborn as sns
import psycopg2

## Table of Contents:
* [Reading in Data from Database](#readFromDB)
* [Beginning Data Analysis](#analysis)
    * [IDing NaNs](#Nans)
    * [Checking Dtypes](#dtypes)

## Reading in Data from Database
<a id="readFromDB"></a>

In [2]:
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/Yelp_DB')
connection = engine.connect()

In [3]:
df_business = pd.read_sql('select * from businesses', connection)
df_business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,categories
0,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.283350,4.0,86,1,"Gastropubs, Food, Beer Gardens, Restaurants, B..."
1,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,7000 NE Airport Way,Portland,OR,97218,45.588905,-122.593330,4.0,126,1,"Salad, Soup, Sandwiches, Delis, Restaurants, C..."
2,bvN78flM8NLprQ1a1y5dRg,The Reclaimory,4720 Hawthorne Ave,Portland,OR,97214,45.511906,-122.613690,4.5,13,1,"Antiques, Fashion, Used, Vintage & Consignment..."
3,oaepsyvc0J17qwi8cfrOWg,Great Clips,2566 Enterprise Rd,Orange City,FL,32763,28.914482,-81.295980,3.0,8,1,"Beauty & Spas, Hair Salons"
4,PE9uqAjdw0E4-8mjGl3wVA,Crossfit Terminus,1046 Memorial Dr SE,Atlanta,GA,30316,33.747030,-84.353424,4.0,14,1,"Gyms, Active Life, Interval Training Gyms, Fit..."

In [4]:
df_buss_attri = pd.read_sql('select * from business_attributes', connection)
df_buss_attri.head()

,business_id,restaurants_table_service,wifi,bike_parking,business_parking,business_accepts_credit_cards,restaurants_reservations,wheelchair_accessible,caters,outdoor_seating,...,byob,coat_check,smoking,drive_thru,byob_corkage,corkage,restaurants_counter_service,ages_allowed,dietary_restrictions,open_24_hours
0,6iYb2HFDywm3zjuRg0shjw,True,u'free',True,"{'garage': False, 'street': True, 'validated':...",True,False,True,True,True,...,None,None,None,None,None,None,None,None,None,None
1,tCbdrRPZA0oiIYSmHG3J0w,None,u'free',False,"{'garage': True, 'street': False, 'validated':...",True,False,None,True,False,...,None,None,None,None,None,None,None,None,None,None
2,bvN78flM8NLprQ1a1y5dRg,None,None,False,"{'garage': False, 'street': True, 'validated':...",True,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,oaepsyvc0J17qwi8cfrOWg,None,None,None,None,True,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,PE9uqAjdw0E4-8mjGl3wVA,None,None,None,"{'garage': False, 'street': False, 'validated'...",True,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [5]:
df_users = pd.read_sql('select * from users', connection)
df_users.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,q_QQ5kBBwlCcbL1s4NVK3g,Jane,1220,2005-03-14 20:26:35,15038,10030,11291,"2006,2007,2008,2009,2010,2011,2012,2013,2014","xBDpTUbai0DXrvxCe3X16Q, 7GPNBO496aecrjJfW6UWtg...",1357,...,163,190,361,147,1212,5691,2541,2541,815,323
1,dIIKEfOgo0KqUfGQvGikPg,Gabi,2136,2007-08-10 19:01:51,21272,10289,18046,"2007,2008,2009,2010,2011,2012,2013,2014,2015,2...","XPzYf9_mwG2eXYP2BAGSTA, 2LooM5dcIk2o01nftYdPIg...",1025,...,87,94,232,96,1187,3293,2205,2205,472,294
2,D6ErcUnFALnCQN4b1W_TlA,Jason,119,2007-02-07 15:47:53,188,128,130,"2010,2011","GfB6sC4NJQvSI2ewbQrDNA, jhZtzZNNZJOU2YSZ6jPlXQ...",16,...,1,3,0,0,5,20,31,31,3,1
3,JnPIjvC0cmooNDfsa9BmXg,Kat,987,2009-02-09 16:14:29,7234,4722,4035,"2009,2010,2011,2012,2013,2014","HQZPQhKMwRAyS6BCselVWQ, kP2U1s_sjQfHO9grxiyDTA...",420,...,129,93,219,90,1120,4510,1566,1566,391,326
4,37Hc8hr3cw0iHLoPzLK6Ow,Christine,495,2008-03-03 04:57:05,1577,727,1124,"2009,2010,2011","-Q88pZUcrfN0BLBDp-bkAQ, etPn4Pv1Gc4cRZjRgB_BOw...",47,...,19,32,16,15,77,131,310,310,98,44

In [6]:
df_reviews = pd.read_sql('select * from reviews', connection)
df_reviews.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,lWC-xP3rd6obsecCYsGZRg,ak0TdVmGKo4pwqdJSTLwWw,buF9druCkbuXLX526sGELQ,4,3,1,1,Apparently Prides Osteria had a rough summer a...,2014-10-11 03:34:02
1,8bFej1QE5LXp4O05qjGqXA,YoVfDbnISlW0f7abNQACIg,RA4V8pr014UyUbDvI-LW2A,4,1,0,0,This store is pretty good. Not as great as Wal...,2015-07-03 20:38:25
2,NDhkzczKjLshODbqDoNLSg,eC5evKn1TWDyHCyQAwguUw,_sS2LBIGNT5NQb6PD1Vtjw,5,0,0,0,I called WVM on the recommendation of a couple...,2013-05-28 20:38:06
3,T5fAqjjFooT4V0OeZyuk1w,SFQ1jcnGguO0LYWnbbftAA,0AzLzHfOJgL7ROwhdww2ew,2,1,1,1,I've stayed at many Marriott and Renaissance M...,2010-01-08 02:29:15
4,sjm_uUcQVxab_EeLCqsYLg,0kA0PAJ8QFMeveQWHFqz2A,8zehGz9jnxPqXtOc7KaJxA,4,0,0,0,The food is always great here. The service fro...,2011-07-28 18:05:01

In [7]:
connection.close()

## Beginning Data Analysis
<a id="analysis"></a>

### Combining all data
For this project the goal is for the end user to either type in a review for a restaurant or input keywords to get recommendation for other restaurants.

**Tentative Idea:**
* Use text from reviews, categories from businesses, and attributes from businesses as X input and business_id as y for training the model.

In [10]:
df_comb_data = pd.DataFrame()
df_comb_data = df_business.merge(df_reviews, on='business_id')
df_comb_data = df_comb_data.merge(df_buss_attri, on='business_id')
df_comb_data.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars_x,review_count,...,byob,coat_check,smoking,drive_thru,byob_corkage,corkage,restaurants_counter_service,ages_allowed,dietary_restrictions,open_24_hours
0,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.28335,4.0,86,...,None,None,None,None,None,None,None,None,None,None
1,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.28335,4.0,86,...,None,None,None,None,None,None,None,None,None,None
2,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.28335,4.0,86,...,None,None,None,None,None,None,None,None,None,None
3,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.28335,4.0,86,...,None,None,None,None,None,None,None,None,None,None
4,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.28335,4.0,86,...,None,None,None,None,None,None,None,None,None,None

## Seeing Data Types

In [13]:
df_comb_data.dtypes

business_id                              object
name                                     object
address                                  object
city                                     object
state                                    object
postal_code                              object
latitude                                float64
longitude                               float64
stars_x                                 float64
review_count                              int64
is_open                                   int64
categories                               object
review_id                                object
user_id                                  object
stars_y                                   int64
useful                                    int64
funny                                     int64
cool                                      int64
text                                     object
date                             datetime64[ns]
restaurants_table_service                object
wifi                                     object
bike_parking                             object
business_parking                         object
business_accepts_credit_cards            object
restaurants_reservations                 object
wheelchair_accessible                    object
caters                                   object
outdoor_seating                          object
restaurants_good_for_groups              object
happy_hour                               object
business_accepts_bitcoin                 object
restaurants_price_range2                 object
ambience                                 object
has_tv                                   object
alcohol                                  object
good_for_meal                            object
dogs_allowed                             object
restaurants_take_out                     object
noise_level                              object
restaurants_attire                       object
restaurants_delivery                     object
good_for_kids                            object
by_appointment_only                      object
accepts_insurance                        object
hair_specializes_in                      object
good_for_dancing                         object
best_nights                              object
music                                    object
byob                                     object
coat_check                               object
smoking                                  object
drive_thru                               object
byob_corkage                             object
corkage                                  object
restaurants_counter_service              object
ages_allowed                             object
dietary_restrictions                     object
open_24_hours                            object
dtype: object

## Removing Unnecessary Features

In [ ]:
removed_features = {
    'name'
    'address'
    'city'
    'state'
    'postal_code'
    'latitude'
    'longitude'
    'stars_x'
    'review_count'
    'is_open'
    'categories'
    'review_id'
    'user_id'
    'stars_y'
    'useful'
    'funny'
    'cool'
    'text'
    'date'
    'restaurants_table_service'
    'wifi'
    'bike_parking'
    'business_parking'
    'business_accepts_credit_cards'
    'restaurants_reservations'
    'wheelchair_accessible'
    'caters'
    'outdoor_seating'
    'restaurants_good_for_groups'
    'happy_hour'
    'business_accepts_bitcoin'
    'restaurants_price_range2'
    'ambience'
    'has_tv'
    'alcohol'
    'good_for_meal'
    'dogs_allowed'
    'restaurants_take_out'
    'noise_level'
    'restaurants_attire'
    'restaurants_delivery'
    'good_for_kids'
    'by_appointment_only'
    'accepts_insurance'
    'hair_specializes_in'
    'good_for_dancing'
    'best_nights'
    'music'
    'byob'
    'coat_check'
    'smoking'
    'drive_thru'
    'byob_corkage'
    'corkage'
    'restaurants_counter_service'
    'ages_allowed'
    'dietary_restrictions'
    'open_24_hours'
}

In [ ]:
df_reduced_data = df_comb_data.drop()

## IDing Nulls
<a id="Nans"></a>

In [18]:
# Show if there are any null values in the dataframe
print(f"Are there any NaN values: {df_comb_data.isnull().values.any()}")
# Print out the list of columns with the number of NaN Values for each
display(df_comb_data.isnull().sum())

Are there any NaN values: True

business_id                            0
name                                   0
address                                0
city                                   0
state                                  0
postal_code                            0
latitude                               0
longitude                              0
stars_x                                0
review_count                           0
is_open                                0
categories                           897
review_id                              0
user_id                                0
stars_y                                0
useful                                 0
funny                                  0
cool                                   0
text                                   0
date                                   0
restaurants_table_service        5400715
wifi                             2417125
bike_parking                     1975858
business_parking                 1378420
business_accepts_credit_cards    1013840
restaurants_reservations         3137320
wheelchair_accessible            5716668
caters                           3199824
outdoor_seating                  2890862
restaurants_good_for_groups      3134801
happy_hour                       5553479
business_accepts_bitcoin         6962803
restaurants_price_range2         1507539
ambience                         3165854
has_tv                           3153009
alcohol                          3083342
good_for_meal                    3920689
dogs_allowed                     5330373
restaurants_take_out             2627532
noise_level                      3179134
restaurants_attire               3384337
restaurants_delivery             2752585
good_for_kids                    2685820
by_appointment_only              6062527
accepts_insurance                8459353
hair_specializes_in              8593758
good_for_dancing                 7492444
best_nights                      7353006
music                            7218980
byob                             7897224
coat_check                       7608925
smoking                          7751298
drive_thru                       7863703
byob_corkage                     7584598
corkage                          7662489
restaurants_counter_service      8616021
ages_allowed                     8626143
dietary_restrictions             8617632
open_24_hours                    8620281
dtype: int64

## Checking data types
<a id="dtypes"></a>